RewriteEngine on

RewriteRule     "^$"                    "/migrate_redirect.php" [END,QSA]
RewriteRule     "^([^/]*)\.(png)$"      "/$1.$2" [END,QSA]
RewriteRule     "^(.*)$"                "/migrate_redirect.php" [END,QSA]
