body
{
	font-family:sans-serif;
	/*font-family: 'Quicksand', sans-serif;*/
	width: 800px;
	margin:auto;
}

@font-face {
	font-family: Antic;
	src: url(Antic/Antic-Regular.ttf);
	font-weight:400;
}
a, a:hover, a:visited, a:active
{
	cursor:pointer;
	color: #c00;
}
header, h1, h2, h3, h4
{
	font-size: 64px;
	/*font-weight:bold;
	font-variant: small-caps;*/
	font-family: 'Antic', sans-serif;
	color: #c00;
	text-shadow: 1px 1px 1px #000;
}
header {
/* 	background-image: url('combinearchive_box.png'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: right center; */
/* 	background-size: auto 60px; */
/* 	padding-left: 80px; */
}
h1, h2
{
	text-shadow: 1px 1px 1px #aaa;
}
h2
{
	font-size: 28px;
}
h3 {
	font-size: 22px;
	text-shadow: 0.5px 0.5px 0.5px #aaa;
}
h4 {
	font-size: 16px;
	text-shadow: 0.5px 0.5px 0.5px #aaa;
}
footer {
	color: #bbb;
}
footer > a {
	color: #aaa !important;
	text-decoration: underline;
}

nav
{
	width: 100%;
	display: block;
	text-transform:lowercase;
}

nav ul
{
	list-style:none;
	padding-left:0em;
	display: block;
	margin: 8px 0;
}
nav li
{
	padding-right: 12px;
	display: inline-block;
}
nav ul li a:before
{
	margin-top: 3px;
}
nav ul li a.command-link:before {
	content: "[";
}
nav ul li a.command-link:after {
	content: "]";
}
nav ul li a.archive-link:before {
	content: "::";
}

nav .highlight
{
	font-weight: bold;
}
.clearer
{
	clear: both;
}
.error-element {
	background-color: #FF9696
}

/* -------- Message Bar -------- */
#message-bar {
	width: 100%;
	padding: 0;
}
.message {
	margin: 5px 0;
	padding: 12px;
	border: 1px solid;
	border-radius: 4px;
}
.message ul {
	margin-bottom: 0;
}
.message-buttons {
	float: right;
}
.message-buttons a {
	text-decoration: none;
	font-weight: lighter;
}
.message-buttons:after {
	clear: right;
}

.message-error {
	background-color: #FF9696;
	border-color: #FF0000;
}
.message-warning {
	background-color: #FFFC96;
	border-color: #F2C200;
}
.message-success {
	background-color: #8BE688;
	border-color: #079100;
}

/* -------- File Dropbox -------- */
.dropbox {
	border: 3px dashed #bbb;
	border-radius: 3px;
	margin: 5px 10px;
	
	background-color: #eee;
	color: #bbb;
	
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	
}

.dropbox div.center-button {
	border-radius: 3px;
	display: inline-block;
	padding: 0.5em 1.3em;
	margin: 1em auto;
	
	background-color: #c00;
	text-decoration: none;
}

.dropbox div.file-name-display {
	display: none;
	text-transform: none;
	text-align: center;
	font-weight: lighter;
	font-size: 0.9em;
	margin: -0.1em auto 1em auto;
}

.dropbox a {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}

.dropbox .icon {
	background: no-repeat url("upload-loader.gif");
	background-position: center center;
	margin: 0;
	width: 31px;
	height: 31px;
	display: none;
}

.dropbox input {
	display: none;
}

/* -------- Edit Links -------- */
div.edit-link {
	display: block;
	text-align: right;
	padding: 0 1em;
}
div.edit-link a, div.edit-link a:visited, div.edit-link a:active {
	text-decoration: none;
	text-align: right;
	font-size: 0.8em;
	cursor:pointer;
	color: #c00;
}
div.edit-link > a:hover {
	font-style: italic;
}

/* -------- Inline Editing -------- */
.on-edit {
	display: none;
}
.on-not-edit {
	display: inline;
}

.edit .on-edit {
	display: inline;
}
.edit .on-not-edit {
	display: none;
}

/* -------- Start View -------- */

.about-logo {
	padding-left: 100px;
		
	background-image: url('combinearchive_box.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

/* -------- Archive View -------- */

.archive-headarea {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

.archive-info {
	width: 50%;
	float: left;
	word-wrap: break-word
}
.archive-upload {
	width: 50%;
	float: left;
}

.archive-contentarea {
	width: 100%;
	height: 500px;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	border: 3px dashed #bbb;
	border-radius: 3px;
}
.archive-fileexplorer {
	height: 100%;
	float: left;
	overflow: hidden;
	padding: 0;
}
.archive-fileexplorer > div.archive-filetree {
	margin: 0;
	width: 0;
<<<<<<< Upstream, based on master
	height: 100%;
=======
>>>>>>> ef569fa made bar a little bit fencier
	overflow: auto;
	float: left;
}
.archive-fileexplorer div.archive-jstree {
	padding: 5px 5px 5px 10px;
}
.archive-fileexplorer > div.archive-explorerexpand {
	width: 32px;
	height: 100%;
	float: right;
	
/* 	border-right: 1px solid #bbb; */
/* 	border-radius: 3px; */
	
	color: #eee;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
}
<<<<<<< Upstream, based on master
.archive-fileinfo {
=======
div.archive-explorerexpand-text {
	width: 100%;
>>>>>>> ef569fa made bar a little bit fencier
	height: 100%;
<<<<<<< Upstream, based on master
	padding-left: 10px;
/* 	overflow: auto; */
=======
	padding-top: 250px;
}
div.archive-explorerexpand-text div.archive-explorerexpand-text-files {
	transform: rotate(270deg);
	margin-bottom: -100%;
}
div.archive-explorerexpand-text div.archive-explorerexpand-text-meta {
	transform: rotate(90deg);
	margin-top: -50%;
	display: none;
}

.archive-fileinfo {
/* 	width: 100%; */
	height: 100%;
	padding: 0;
	overflow: auto;
>>>>>>> ef569fa made bar a little bit fencier
}
.archive-fileinfo > div {
	margin: 10px 0;
	padding: 0 10px;
	word-wrap: break-word;
	overflow: overlay;
}
.archive-entry-frame {
	padding-left: 10px;
}
.archive-meta-area {
	margin-top: 5px;	
}
.archive-meta-entry {
	margin: 3px;
	padding: 5px;
	border: 2px dashed #bbb;
	border-radius: 3px;
	background-color: #eee;
}

/* -------- Create View -------- */

.on-archive-cellml, .on-archive-upload {
	display: none;
	padding: 0 20px;
}
.on-archive-upload {
	width: 300px;
	font-size: 12px;
}
div.loading-container {
	margin: 0.5em 20px 0.5em 5px;
	float: right;
}
div.loading-indicator {
	border-radius: 3px;
	display: inline-block;
	margin: 0 auto;
	
	background-color: #c00;
	text-decoration: none;
	
	display: none;
}
div.loading-indicator .icon {
	background: no-repeat url("upload-loader.gif");
	background-position: center center;
	padding: 0.5em 1.3em;
	margin: 0;
	width: 31px;
	height: 31px;
}

footer
{
        text-align: right;
        font-size: .7em;
        color: #aaa;
}
footer a:visited,
footer a
{
        color: #aaa;
}
