body
{
	font-family: sans-serif,sans,serif;
	/*font-family: 'Quicksand', sans-serif;*/
	width: 800px;
	margin:auto;
}

@font-face {
	font-family: Antic;
	src: url(Antic/Antic-Regular.ttf);
	font-weight:400;
}
a, a:hover, a:visited, a:active
{
	cursor:pointer;
	color: #c00;
}
header, h1, h2, h3, h4
{
	font-size: 64px;
/* 	font-weight:bold; */
/* 	font-variant: small-caps; */
	font-family: 'Antic', sans-serif;
	color: #c00;
	text-shadow: 1px 1px 1px #000;
}
header {
/* 	background-image: url('combinearchive_box.png'); */
/* 	background-repeat: no-repeat; */
/* 	background-position: right center; */
/* 	background-size: auto 60px; */
/* 	padding-left: 80px; */
}
h1, h2
{
	text-shadow: 1px 1px 1px #aaa;
}
h2
{
	font-size: 28px;
}
h3 {
	font-size: 22px;
	text-shadow: 0.5px 0.5px 0.5px #aaa;
}
h4 {
	font-size: 16px;
	text-shadow: 0.5px 0.5px 0.5px #aaa;
}
footer {
	text-align: right;
	font-size: .7em;
	color: #aaa;
}
footer a:visited, footer a {
	color: #aaa;
}
footer a:hover {
	color: #c00;
}

nav
{
	width: 100%;
	display: block;
	text-transform:lowercase;
}

nav ul
{
	list-style:none;
	padding-left:0em;
	display: block;
	margin: 8px 0;
}
nav li
{
	padding-right: 12px;
	display: inline-block;
	line-height: 1.3em;
}
nav ul li a:before
{
	margin-top: 3px;
}
nav ul li a.command-link:before {
	content: "[";
}
nav ul li a.command-link:after {
	content: "]";
}
nav ul li a.archive-link:before {
	content: "::";
}
nav .highlight
{
	font-weight: bold;
}

#nav-workspace {
	float: left;
	width: 55%;
}
#nav-main {
	float: right;
	width: calc(45% - 5px);
	text-align: right;
}

div.nav-container
{
	background-color: #fafafa;
	padding: 5px;
	color: #999;
}

.clearer
{
	clear: both;
}
.error-element {
	background-color: #FF9696
}
/* -------- Feedback Button -------- */
#feedback {
	display: block;
	position: fixed;
	top: 35%;
	left: 0;
}
#feedback a {
	display: block;
	width: 22px;
	height: 81px;
	padding: 5px;
	
	background: no-repeat scroll center #EEE;
	background-image: url('../feedback.png');
	border: 2px dashed #555;
	border-radius: 5px;
	border-left: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	
	text-decoration: none;
	color: #c00;
	font-weight: bold;
	font-size: 1.2em;
}
#feedback a:hover {
	background-color: #c00;
	background-image: url('../feedback-highlight.png');
	color: #EEE;
}
#feedback span {
	max-width: 1ch;
	display: block;
	word-wrap: break-word;
	line-height: 0.9em;
}
 
/* -------- Message Bar -------- */
#message-bar {
	width: 100%;
	padding: 0;
}
.message {
	margin: 5px 0;
	padding: 12px;
	border: none;
	border-left: 5px solid;
}
.message ul {
	margin-bottom: 0;
}
.message-buttons {
	float: right;
}
.message-buttons a {
	text-decoration: none;
	font-weight: lighter;
}
.message-buttons:after {
	clear: right;
}

.message-error {
	background-color: #FF9696;
	border-left-color: #FF0000;
}
.message-warning {
	background-color: #FFFC96;
	border-left-color: #F2C200;
}
.message-success {
	background-color: #8BE688;
	border-left-color: #079100;
}

/* -------- File Dropbox -------- */
.dropbox {
	border: 3px dashed #bbb;
	border-radius: 3px;
	margin: 5px 10px;
	
	background-color: #eee;
	color: #bbb;
	
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	
}

.dropbox div.center-button {
	border-radius: 3px;
	display: inline-block;
	padding: 0.5em 1.3em;
	margin: 1em auto;
	
	background-color: #c00;
	text-decoration: none;
	cursor: pointer;
}

.dropbox div.file-name-display {
	display: none;
	text-transform: none;
	text-align: center;
	font-weight: lighter;
	font-size: 0.9em;
	margin: -0.1em auto 1em auto;
}

.dropbox a {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}

.dropbox .icon {
	background: no-repeat url("upload-loader.gif");
	background-position: center center;
	margin: 0;
	width: 31px;
	height: 31px;
	display: none;
}

.dropbox input {
	display: none;
}

/* -------- Edit Links -------- */
div.edit-link {
	display: block;
	text-align: right;
	padding: 0 1em;
	font-weight: normal;
}
.edit-link a, .edit-link a:visited, .edit-link a:active {
	text-decoration: none;
	text-align: right;
	font-size: 0.8em;
	cursor:pointer;
	color: #c00;
}
.edit-link > a:hover {
	font-style: italic;
}

span.edit-link {
	padding-left: 2em;
	font-weight: normal;
}
.edit-object > span.edit-link {
	display: none;
}
.edit-object:hover > span.edit-link {
	display: inline;
}

/* -------- Inline Editing -------- */
.on-edit {
	display: none;
}
.on-not-edit {
	display: inline;
}

.edit .on-edit {
	display: inline;
}
.edit .on-not-edit {
	display: none;
}

/* -------- Start View -------- */

.about-logo {
	padding-left: 100px;
		
	background-image: url('combinearchive_box.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}
ul.start-history-list {
	margin-top: 0;
}
ul.start-history-list > li {
	padding: 0.1em 0;
}
ul.start-history-list > li > span:first-child {
	font-weight: bold;
	display: inline-block;
	min-width: 10em;
}
ul.start-history-list > li.current-workspace {
/* 	list-style-type: square; */
/* 	list-style-image: url("listarrow.png"); */
}

/* -------- Stats View -------- */
.stats-line {
/* 	line-height: 1em; */
	padding: 0.3em 1em;
}
.stats-line:nth-of-type(2n) {
	background-color: #fafafa;
}
.stats-line .attribute-name {
	width: calc(65% - 5px);
	margin: 0;
}
.stats-line .attribute-detail {
	width: calc(35% - 5px);
	margin: 0;
}
.stats-par {
	margin-bottom: 1.1em;
}

/* -------- Archive View -------- */

a.jstree-anchor > i.jstree-icon {
	background-size: cover !important;
}
i.file-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	line-height: 32px;
	white-space: nowrap;
	margin-right: 3px;
	
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.archive-headarea {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

.archive-info {
	width: 50%;
	float: left;
	word-wrap: break-word
}
.archive-upload {
	width: 50%;
	float: left;
}

.archive-contentarea {
	width: 100%;
	height: 500px;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	border: 3px dashed #bbb;
	border-radius: 3px;
}
.archive-fileexplorer {
	height: 100%;
	float: left;
	overflow: hidden;
	padding: 0;
}
.archive-fileexplorer > div.archive-filetree {
	margin: 0;
/* 	width: 0; */
	width: calc(800px - 33px);
	height: 100%;
	overflow: auto;
	float: left;
}
.archive-fileexplorer div.archive-jstree {
	padding: 5px 5px 5px 10px;
	float: left;
/* 	border-right: 3px dashed #bbb; */
/* 	border-radius: 3px; */
}
.archive-fileexplorer > div.archive-explorerexpand {
	width: 32px;
	height: 100%;
	float: right;
	
/* 	border-right: 1px solid #bbb; */
/* 	border-radius: 3px; */
	
	color: #eee;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
	line-height: 1.2em;
	font-weight: bold;
}
div.archive-explorerexpand-text {
	height: 250px;
	padding-top: 250px;
	text-align: center;
}
div.archive-explorerexpand-text > div:before {
	content: "\00a0";
	padding-right: 12px;
	background-image: url("arrow.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 25px;  
}
div.archive-explorerexpand-text > div:after {
	content: "\00a0";
	padding-left: 12px;
	background-image: url("arrow.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 25px;  
}
div.archive-explorerexpand-text div.archive-explorerexpand-text-files {
	transform: rotate(270deg);
	margin-top: 0.7em;
	display: none;
}
div.archive-explorerexpand-text div.archive-explorerexpand-text-meta {
	transform: rotate(90deg);
	margin-top: -2.7em;
/* 	display: none; */
}

.archive-fileexplorer > div.archive-explorerexpand {
	width: 32px;
	height: 100%;
	float: right;
	background-color: #c00;
	border-right: 1px solid #bbb;
/* 	border-radius: 3px; */
}
.archive-fileinfo {
	height: 100%;
	padding-left: 10px;
	overflow: auto;
	display: none;
}
.archive-fileinfo > div {
	margin: 10px 0;
	padding: 0 10px;
	word-wrap: break-word;
/* 	overflow: overlay; */
}
.archive-entry-frame {
	padding-left: 10px;
}
.archive-meta-area {
	margin-top: 5px;	
}
.archive-meta-entry {
	margin: 3px;
	padding: 5px;
	border: 2px dashed #bbb;
	border-radius: 3px;
	background-color: #eee;
}

.archive-meta-omex-creator-orga {
	font-style: italic;
}
/* .archive-meta-omex-creator-orga:before { */
/* 	content: ', '; */
/* } */

.archive-meta-xml-text {
	width: calc(100% - 20px);
	margin: 5px;
	padding: 5px;
	min-height: 150px;
}
.archive-meta-xml-code {
	overflow-x: hidden;
}
.archive-meta-xml-code > pre {
	display: block;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

div.attribute-name {
	float: left;
	font-weight: bold;
	width: 115px;
	margin-bottom: 5px;
}
div.attribute-detail {
	float: left;
	width: calc(100% - 120px);
	margin-bottom: 5px;
}
div.attribute-detail:after {
	clear: left;
	content: ".";
	display: block;
	font-size: 0;
	height: 1px;
	visibility: hidden;
}
div.attribute-detail > input[type='text'],
div.attribute-detail >  textarea {
	width: calc(100% - 120px);
}

div.attribute-name-br {
	font-weight: bold;
	padding-bottom: 5px;
}
div.attribute-detail-br {
	
}

/* -------- Create View -------- */

.create-parameter  {
	display: none;
	padding: 0 20px;
}
.on-archive-upload {
	width: 300px;
	font-size: 12px;
}
div.loading-container {
	margin: 0.5em 20px 0.5em 5px;
	float: right;
}
div.loading-indicator {
	border-radius: 3px;
	display: inline-block;
	margin: 0 auto;
	
	background-color: #c00;
	text-decoration: none;
	
	display: none;
}
div.loading-indicator .icon {
	background: no-repeat url("upload-loader.gif");
	background-position: center center;
	padding: 0.5em 1.3em;
	margin: 0;
	width: 31px;
	height: 31px;
}

