<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>CombineArchiveWeb</display-name>
	
	<!--
		the default values of following parameters can be overriden in your web server.
		in case of tomcat: add a file
		 
			$CATALINA_BASE/conf/[enginename]/[hostname]/CONTEXTNAME.xml
		
		containing something like
		
			<Context>
		  		<Parameter name="LOGLEVEL" value="DEBUG" override="1"/>
			</Context>
		
		also see the documentation of your web server
	-->
	
	<context-param>
		<param-name>LOGLEVEL</param-name>
		<param-value>WARN</param-value>
		<description>sets the log level. available levels: DEBUG, INFO, WARN, ERROR, NONE</description>
	</context-param>
	
	<context-param>
		<param-name>STORAGE</param-name>
		<param-value>/tmp/CombineArchiveWebStorage</param-value>
		<description>sets the persistent storage directory.</description>
	</context-param>
	
	<context-param>
		<param-name>SEDML-WEBTOOLS</param-name>
		<param-value></param-value>
	</context-param>
	
	<context-param>
		<param-name>QUOTA_TOTAL_SIZE</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<context-param>
		<param-name>QUOTA_WORKSPACE_SIZE</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<context-param>
		<param-name>QUOTA_WORKSPACE_AGE</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<context-param>
		<param-name>QUOTA_ARCHIVE_SIZE</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<context-param>
		<param-name>QUOTA_ARCHIVE_LIMIT</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<context-param>
		<param-name>QUOTA_FILE_LIMIT</param-name>
		<param-value>0</param-value>
	</context-param>
	
	<context-param>
		<param-name>QUOTA_UPLOAD_SIZE</param-name>
		<param-value>0</param-value>
	</context-param>

	<!-- known servlets -->

	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>de.unirostock.sems.cbarchive.web.servlet.Index</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>Download</servlet-name>
		<servlet-class>de.unirostock.sems.cbarchive.web.servlet.DownloadServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Icon</servlet-name>
		<servlet-class>de.unirostock.sems.cbarchive.web.servlet.IconServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>rest-api</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>de.unirostock.sems.cbarchive.web.rest</param-value>
		</init-param>
		<!-- enable multipart support for file upload -->
		<init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>de.unirostock.sems.cbarchive.web.provider.RestMultipartApplication</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Download</servlet-name>
		<url-pattern>/download/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index.sems</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Icon</servlet-name>
		<url-pattern>/res/icon/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>rest-api</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	

	<!-- default -->
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.sems</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
